<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<section>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 100%; color: white">
                <div class="card-header">
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <!--message box-->
                    <div th:if="${session.message}" class="container">
                        <div class="alert alert-danger text-center" role="alert">
                            <span th:text="${session.message}"></span>
                        </div>
                    </div>
                    <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
                    <h3>Enter New Password</h3>
                    <form th:action="@{/verify-otp}" method="post">
                        <input name="newpassword" required type="text" placeholder="Enter New Password" class="form-control" id="otp">
                        <div class="container text-center mt-3">
                            <button class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>